{% extends 'layout.html' %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>


</head>
<body >

<div class="container">
<center><h1>Welcome to the userdashboard</h1></center>

			<div>
				<p style="font-size: 20px; color: blue; font-style: italic;">
				Dear <b> {{session.username}} </b>,<br>

			</div>
			<center>
<a class="nav-link" href="/addpost"><button class="btn btn-success">Publish a Postt</button></a>
</center>

			<table class="table table-striped table-bordered">
					<tr>
						<th>ID </th>
						<th>Title </th>
				
						<th>Author</th>
						<th>PostDate</th>
						<th></th>
						<th></th>

					</tr>

					{% for post in posts %}

					<tr>
						<td>{{post.Id}}</td>
						<td>{{post.title}}</a></td>
						
						<td>{{post.author}}</td>
						<td>{{post.postdate}}</td>
						<td> <a href="edit_post">Edit</a></td>
						<td>Delete</td>


					</tr>
				
{% endfor %}


			</table>
</div>

</body>
</html>

{% endblock %}