{% extends 'layout.html' %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<h1 style="background-color: blue;">This is the team page</h1>
	<h2>Meet our team members</h2>
<button class="btn" style="color:white; background-color:green;">Click here</button>
<button class="btn btn-success">Click here</button>
	<div class="card-group">
  <div class="card">
    <img src="{{url_for('static', filename='images/image.jpeg')}}"  class="card-img-top" width="30%" height="40%" alt="..."  >
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="{{url_for('static', filename='images/image.jpeg')}}" class="card-img-top" width="30%" height="40%" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="{{url_for('static', filename='images/image.jpeg')}}" class="card-img-top" width="30%" height="40%" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

</body>
</html>
{% endblock %}


